.img {
  width: 100%;
}

.btnsContainer {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: #ffc000;
  border-radius: 0.5rem;
  border: 2px solid #a57d07;
  cursor: pointer;
}

.btn:hover {
  background-color: #a57d07;
  color: white;
}
