.form {
    padding: 2rem;
    border: 2px solid #9256a9;
    border-radius: 1rem;
    background-color: #ADD8E6;
  }
  
  .points {
    font-size: 2rem;
    font-weight: 700;
  }
  
  .task {
    font-size: 2rem;
    font-weight: 700;
  }