.navbar {
  padding: 2rem 1rem;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
}

.menuItem {
}

.link {
  text-decoration: none;
  color: blue;
}

.link:hover {
 color: red;
}

.link:global(.active) {
  font-weight: 700;
  border-bottom: 2px solid #000;
}
