.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: 1.25rem !important;
  margin-top: 2rem;
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

.button:hover {
 filter: invert();
}
