.container {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.label {
  font-weight: 700;
}

.input {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  font-size: 1rem;
}

.error {
  color: red;
  text-wrap: wrap;
}
