.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #114b05;
}

.select {
  background-color: #58b15f;
  padding-block: 0.75rem;
  width: 120px;
  border-radius: 0.75rem;
  color: #fff;
  outline: none;
}
